<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}
    {% endblock %}
    {% block styles %}
    {% endblock %}


    {% load staticfiles %}
    <meta charset="utf-8">

    <!-- Basic Bootstrap set up -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="shortcut icon" type="image/png" href="{% static 'index/favicon.ico' %}"/>
    <script src="https://use.fontawesome.com/8a767bec49.js"></script>

    <script src="{% static 'index/JavaScript/detail.js' %}"></script>
    <script src="{% static 'index/JavaScript/find.js' %}"></script>

    <!--<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>-->
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>-->
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>-->

    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA8mE5JHlGfIWpQVOJ42CjxKJB05zpvvXM
    &callback&libraries=visualization" type="text/javascript"></script>

</head>
<!--<body>-->

{% block main %}
{% endblock %}
<!--</body>-->
</html>