{% extends 'index/base.html' %}

{% load staticfiles %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/main.css' %}">
{% endblock %}

{% block title %}
<title>DJANGO Bus</title>
{% endblock %}

{% block main %}

<script>

    $(document).ready(function(){
                        if($(window).width() <= 1200) {
                            window.location = "/indexmobile.html";
                        }
                    });

                    $(window).resize(function(){location.reload();});

					/*
					 var user_name;
					 var expires = new Date();
					 var length = document.cookie.length -1;
					 var message = document.cookie.substring(5, length)
					 document.write("<h5><center> Welcome Back, " + message + "!</center></h5>")


					 function cookierun(){

					 user_name = document.getElementById("name").value;
					 expires.setFullYear(expires.getFullYear()+1);
					 document.cookie = escape("name") + "=" + escape(user_name) + "; expires = " + expires.toUTCString();
					 window.alert(document.cookie);

					 }
					 */


                    $(function() {

                        var xmlhttp = new XMLHttpRequest();
                        var url = 'karl.json';
                        var karldata;
                        var map;

                        xmlhttp.onreadystatechange = function() {
                            if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                                karldata = JSON.parse(xmlhttp.responseText);
                                addGPSmarker();
                            }
                        };

                        xmlhttp.open("GET", url, true);
                        xmlhttp.send();

                        map = new google.maps.Map(document.getElementById('map'), {
                            center: {lat: 53.3498, lng: -6.2603},
                            zoom: 8
                        });
                        function addGPSmarker() {
                            for(var i in karldata){

                                var marker = new google.maps.Marker({
                                    position: {lat: karldata[i]['Lat'], lng: karldata[i]['Lon']},
                                    map: map,
                                    label: i
                                });
                            }
                        };

                        infoWindow = new google.maps.InfoWindow;

                       /*
                        // Try HTML5 geolocation.
                        if (navigator.geolocation) {
                            navigator.geolocation.getCurrentPosition(function(position) {
                                var pos = {
                                    lat: position.coords.latitude,
                                    lng: position.coords.longitude
                                };

                                infoWindow.setPosition(pos);
                                infoWindow.setContent('You are here');
                                infoWindow.open(map);
                                map.setCenter(pos);
                            }, function() {
                                handleLocationError(true, infoWindow, map.getCenter());
                            });
                        } else {
                            // Browser doesn't support Geolocation
                            handleLocationError(false, infoWindow, map.getCenter());
                        }
        */

                        function handleLocationError(browserHasGeolocation, infoWindow, pos) {
                            infoWindow.setPosition(pos);
                            infoWindow.setContent(browserHasGeolocation ?
                                'Error: The Geolocation service failed.' :
                                'Error: Your browser doesn\'t support geolocation.');
                            infoWindow.open(map);
                        }

                        var Center = new google.maps.LatLng(53.3498, -6.2603);
                        var directionsDisplay;
                        var directionsService = new google.maps.DirectionsService();
                        var map;

                        function initialize() {
                            directionsDisplay = new google.maps.DirectionsRenderer();
                            var properties = {
                                center: Center,
                                zoom: 20,
                                mapTypeId: google.maps.MapTypeId.ROADMAP
                            };

                            map = new google.maps.Map(document.getElementById("map"), properties);
                            directionsDisplay.setMap(map);


                            Route();
                        }

                        function Route() {

                            var start = new google.maps.LatLng("{{ origin_lat }}", "{{ origin_lon }}");
                            var end = new google.maps.LatLng("{{destination_lat }}", "{{ destination_lon }}");
                            var request = {
                                origin: start,
                                destination: end,
                                travelMode: google.maps.TravelMode.TRANSIT
                            };
                            directionsService.route(request, function(result, status) {
                                if (status == google.maps.DirectionsStatus.OK) {
                                    directionsDisplay.setDirections(result);
                                } else {
                                    alert("couldn't get directions:" + status);
                                }
                            });
                        }

                        google.maps.event.addDomListener(window, 'load', initialize);
                        var td = new Date().getDay();
                        td = (td == 0) ? 7 : td;
                        $('select[id=day]').find('option').eq( td ).prop('selected', true)
                            .end().change();

                    });

				</script>

<div id="resultspage">
    <div class="sidebar">

        <div id="stopselected">
            <div id="Origin">
                <h3 id="headingcolours">Origin Stop</h3>
                <div id="selected_origin">
                    <h4>{{ origin }}</h4>
                </div>
            </div>
            <div id="Destination">
                <h3 id="headingcolours">Destination Stop</h3>
                <div id="selected_destination">
                    <h4>{{ destination }}</h4>
                </div>
            </div>
        </div>
        <div id="busestimates">
            <h3 id="headingcolours">Bus {{ route }} at Stop {{ origin }}:</h3>
            <div id="estimatezone">
                <h5>It's {{day }} at {{ time }}:00</h5>
                <h4>Expect your bus in <h3 id="arrivalcolour"> {{ arrival }}</h3> minutes </h4>
                <h4>Your journey to stop {{ destination }} will take <h3 id="arrivalcolour"> {{ pred }} </h3> minutes</h4>
            </div>
        </div>
        <div id="weather">
            <div class="left">
                <div class="dublin">
                    <h3 id="headingcolours">Dublin</h3>
                </div>
                <div class="temperature">
                    <h4>{{ temp }} &deg;C</h4>
                </div>
            </div>
            <div class="right">
                <div class="top"><img id="icon" src="{{ url }}" width="75px"></div>
                <div class="bottom">
                    <div class="wind">
                        <h4>Wind speed is {{ wspd }} kph</h4>
                    </div>
                </div>
            </div>
        </div>
        <div id="Alerts">
            <h3 id="headingcolours">Your Alerts</h3><br>

            <h5>(No Alerts to Show!)</h5>
        </div>
    </div>
    <div id="map">
    </div>
</div>

</div>

{% endblock %}