{% extends 'index/base.html' %}

<!--{% load staticfiles %}-->

{% block styles %}
<!--<link rel="stylesheet" href="{% static 'index/main.css' %}">-->
{% endblock %}

{% block title %}
<title>{{ origin_word }}</title>
{% endblock %}

{% block main %}

<script>
    // Declaring Django variables from view as Global Variables so can be used in the external Javascript file.
    // note: Must be declared before the external javascript file is loaded

    var my_lat ={{ my_lat }}, my_long = {{ my_long }}, origin_lat ={{ origin_lat }}, origin_lon = {{ origin_lon }},
        origin_word = "{{ origin_word }}", destination_lat = {{destination_lat }}, destination_lon = {{destination_lon }},
        destination_word = "{{ destination_word }}", tweet = "{{ tweet| safe | escapejs }}",
        events = "{{ events| safe | escapejs }}", names = "{{ names }}", bus_image = "{% static 'images/bus_2.png' %}",
        location_icon = "{% static 'images/location_icon.png' %}", stops = {{ stops }};


</script>

{% load staticfiles %}
<script src="{% static 'index/JavaScript/JavaScript.js' %}"></script>
<link rel="stylesheet" href="{% static 'index/CSS/stylesheet.css' %}">


<body class="detail" onload="initializeMapDetail()">

    <!-- Nav Bar -------------------------------------->
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <ul class="nav navbar-nav">
                <li><a href="/" class="navbar-brand">Dublin Bus Dynamic Travel</a></li>
            </ul>
        </div>
    </nav>

    <!-- Main Body ------------------------------------>
    <div class="container-fluid text-center" style="height: calc(100vh - 50px); margin-top:50px;">
        <div class="row" style="height: 100%;">

            <!-- Map -------------------------->
            <div id="map" class="col-xs-12 col-sm-9 col-sm-push-3 col-md-9 col-md-push-3"></div>

            <!-- Left Control panel ----------->
            <div id="control_panel" class="col-xs-12 col-sm-3 col-sm-pull-9 col-md-3 col-md-pull-9">

                <div class="well well-sm" id=""><strong>
                    <i class="fa fa-bus" aria-hidden="true"></i>
                    {{ origin }} - {{origin_word}}
                    <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                    <i class="fa fa-bus" aria-hidden="true"></i>
                    {{ destination }} - {{destination_word}}
                    <p>{{day }} at {{ time }}:{{ mins }}</p></strong>
                    <p>{{ rn }}</p>
                </div>

                <!-- TimeLine for Bus Arrival Times ---------->
                <div class="well well-sm">

                    <div id="bus_info_title">
                        <p><strong>Expect your bus at:</strong></p>
                    </div>

                    <ul id="timeline">
                        <li>
                            <div>
                            <h1 class='bus_info'>Bus  <i class="fa fa-chevron-circle-down" aria-hidden="true"></i></h1>
                            <h2 class="bus_info_expand">Hello</h2>
                            </div>
                        </li>
                        <li>
                            <div>
                            <h1 class='bus_info'>Bus  <i class="fa fa-chevron-circle-down" aria-hidden="true"></i></h1>
                            <h2 class="bus_info_expand">Hello</h2>
                            </div>
                        </li>
                        <li>
                            <div>
                            <h1 class='bus_info' style="color:deepskyblue;">{{ time_arrival }}
                                <i class="fa fa-chevron-circle-down" aria-hidden="true"></i>
                            </h1>
                            <h2 class="bus_info_expand">
                                Your journey will take approximately: {{ pred }} mins.
                            </h2>
                            </div>
                        </li>
                        <li>
                            <div>
                            <h1 class='bus_info'>Bus  <i class="fa fa-chevron-circle-down" aria-hidden="true"></i></h1>
                            <h2 class="bus_info_expand">Hello</h2>
                            </div>
                        </li>
                        <li>
                            <div>
                                <h1 class='bus_info'>Bus  <i class="fa fa-chevron-circle-down" aria-hidden="true"></i></h1>
                                <h2 class="bus_info_expand">Hello</h2>
                            </div>
                        </li>
                    </ul>
                </div>

                <!-- Toggle Buttons -------------------->
                <div class="well well-sm">
                    <button type="button" class="btn btn-default btn-sm btn-block" onclick="toggleWalkingLayer('detail')"
                    value="0" id="walkingLayer">Display Walking Route</button>
                    <h6 id="walking_duration"></h6>
                    <h6 id="walking_distance"></h6>
                    <button type="button" class="btn btn-default btn-sm btn-block" onclick="toggleEventLayer()">
                            Toggle Events</button>
                </div>

                <!-- Weather ---------------------------->
                <div class="well well-sm" id="weather_div">
                    <h6><strong>Weather Forecast: {{ day }}</strong></h6>
                    <!--<div><img id="icon" src="{{ url }}" width="75px"></div>-->
                    <div class="row">
                        <div class="col-md-7"><img id="icon" src="{{ url }}" ></div>
                        <div class="col-md-5 temp">{{ temp }}&deg;C</div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">Windspeed: <b>{{ wspd }}km/hr</b></div>
                        <div class="col-md-4">Condition: <b>{{ condition }}</b></div>
                        <div class="col-md-4">Chance of Rain: <b>{{ pop }}%</b></div>
                    </div>
                </div>

                <!-- Transit mode options ---------------->
                <div class="well well-sm">
                    <div class="form-group">
                        <label for="mode_select">Other Transit Options</label>
                        <select class="form-control" id="mode_select">
                            <option value="Null">Pick a mode</option>-->
                            <option value="DRIVING">Driving</option>
                            <option value="WALKING">Walking</option>
                            <option value="BICYCLING">Bicycling</option>
                        </select>
                    </div>
                    <p id="Journey_duration"></p>
                    <p id="Journey_distance"></p>
                </div>

            </div>
        </div>
    </div>

    <!-- Footer -------------------------------------------------------->
    <footer class="footer text-center">&copy; Team Git Rekt 2017</footer>

</body>
{% endblock %}