{% extends 'index/base.html' %}

<!--{% load staticfiles %}-->

{% block styles %}
<!--<link rel="stylesheet" href="{% static 'index/main.css' %}">-->
{% endblock %}

{% block title %}
<title>{{ origin_word }}</title>
{% endblock %}

{% block main %}

<script>
    // Declaring Django variables from view as Global Variables so can be used in the external Javascript file.
    // note: Must be declared before the external javascript file is loaded
    var origin_lat ={{ origin_lat }}, origin_lon = {{ origin_lon }}, origin_word = "{{ origin_word }}",
        destination_lat = {{destination_lat }}, destination_lon = {{destination_lon }}, destination_word = "{{ destination_word }}",
        tweet = "{{ tweet| safe | escapejs }}", events = "{{ events| safe | escapejs }}", stops = {{ stops }}, names = "{{ names }}";
{% load staticfiles %}

</script>
<script src="{% static 'index/JavaScript/JavaScript.js' %}"></script>

<body class="detail">
    <div id="resultspage">
        <div class="sidebar">
            <div id="stopselected">
                <div id="Origin">
                    <h3 id="headingcolours">Origin Stop</h3>
                    <div id="selected_origin">
                        <h4>{{ origin }} - {{ origin_word }}</h4>
                    </div>
                </div>
                <div id="Destination">
                    <h3 id="headingcolours">Destination Stop</h3>
                    <div id="selected_destination">
                        <h4>{{ destination }} - {{ destination_word }}</h4>
                    </div>
                </div>
            </div>
            <div>
                <button onclick="toggleEventLayer()" >display event heat map</button>
                <button onclick="toggleWalkingLayer()" value="0" id="walkingLayer">Walking route</button>

                <!--<button id="walking_route" onclick="walkingRoute()" >Click to display walking route</button>-->
            </div>
            <div id="busestimates">
                <h3 id="headingcolours">Bus {{ route }} at Stop {{ origin }}:</h3>
                <div id="estimatezone">
                    <h5>{{day }} at {{ time }}:{{ mins }}</h5>
                    <h4>Expect your bus at <h3 id="arrivalcolour"> {{ time_arrival }}</h3> </h4>
                    <h4>Your journey to stop {{ destination }} will take <h3 id="arrivalcolour"> {{ pred }} </h3> minutes</h4>
                    <h4 id="walking_journey"></h4>
                    <!--<h3 id="walking_info"><b>Walking Time & Distance</b></h3>-->
                    <h4 id="walking_duration"></h4>
                    <h4 id="walking_distance"></h4>
                </div>
            </div>
            <div id="weather">
                <div class="left">
                    <div class="dublin">
                        <h3 id="headingcolours">Dublin</h3>
                    </div>
                    <div class="temperature">
                        <h4>{{ temp }} &deg;C</h4>
                    </div>
                </div>
                <div class="right">
                    <div class="top"><img id="icon" src="{{ url }}" width="75px"></div>
                    <div class="bottom">
                        <div class="wind">
                            <h4>Wind speed is {{ wspd }} kph</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div id="Alerts">
                <h3 id="headingcolours">Your Alerts</h3><br>
                <h5>(No Alerts to Show!)</h5>
                <select id="mode_select">
                    <option value="Null">Pick a mode</option>
                    <option value="DRIVING">Driving</option>
                    <option value="WALKING">Walking</option>
                    <option value="BICYCLING">Bicycling</option>
                </select>

            </div>
        </div>
        <div id="map">
        </div>
    </div>

    </div>
</body>
{% endblock %}