{% extends 'index/base.html' %}

{% block title %}
<title>Stops Near You</title>
{% endblock %}

{% block styles %}
{% endblock %}

{% block main %}
<script>
{% load staticfiles %}

    var my_lat ={{ my_lat }}, my_long = {{ my_long }},
        stop_1 = "{{ stop_1 }}", lat_1 = {{ lat_1 }}, long_1 = {{ long_1 }}, routes_1 = "{{ routes_1 }}",
        stop_2 = "{{ stop_2 }}", lat_2 = {{ lat_2 }}, long_2 = {{ long_2 }}, routes_2 = "{{ routes_2 }}",
        stop_3 = "{{ stop_3 }}", lat_3 = {{ lat_3 }}, long_3 = {{ long_3 }}, routes_3 = "{{ routes_3 }}",
        stop_4 = "{{ stop_4 }}", lat_4 = {{ lat_4 }}, long_4 = {{ long_4 }}, routes_4 = "{{ routes_4 }}",
        stop_5 = "{{ stop_5 }}", lat_5 = {{ lat_5 }}, long_5 = {{ long_5 }}, routes_5 = "{{ routes_5 }}",
        csrf = "{% csrf_token %}", location_icon = "{% static 'images/location_icon.png' %}";
</script>

<script src="{% static 'index/JavaScript/JavaScript.js' %}"></script>
<link rel="stylesheet" href="{% static 'index/CSS/stylesheet.css' %}">

<body class="find">

    <!-- NavBar----------------------------------------->
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <ul class="nav navbar-nav">
                <!--<li class="dropdown">-->
                    <!--<a class="dropdown-toggle" data-toggle="dropdown" href="#">-->
                        <!--<i class="fa fa-bars" aria-hidden="true"></i>-->
                        <!--<span class="caret"></span></a>-->
                    <!--<ul class="dropdown-menu">-->
                        <!--<li><a href="#">Page 1-1</a></li>-->
                        <!--<li><a href="#">Page 1-2</a></li>-->
                        <!--<li><a href="#">Page 1-3</a></li>-->
                    <!--</ul>-->
                <!--</li>-->
                <li><a href="/" class="navbar-brand">Dublin Bus Dynamic Travel</a></li>
            </ul>
        </div>
    </nav>

    <!-- Main Body ----------------------------------------------------------------------------->
    <div class="container-fluid text-center" style="height: calc(100vh - 50px); margin-top:50px;">
        <div class="row" style="height: 100%;">

            <!-- Map ----------------------------------->
            <div id="map" class="col-xs-12 col-sm-9 col-sm-push-3 col-md-9 col-md-push-3"></div>

            <!-- Left Control Panel -------------------->
            <div id="control_panel" class="col-xs-12 col-sm-3 col-sm-pull-9 col-md-3 col-md-pull-9">

                <div class="well wel-sm" id="walking-info">
                    <p style="font-size: 0.9em;">Click on a marker to find the walking time:</p>
                    <b><p id="walking_distance"></p></b>
                    <b><p id="walking_duration"></p></b>
                </div>

                <!-- Collapsible bus info box --------->
                <div class="panel-group" id="accordion">

                    <div id = "{{ stop_1 }}" class="panel-border">
                        <div class="panel panel-default">
                            <div  class="panel-heading">
                                <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                                    {{ stop_1 }} - {{ name_1 }}
                                    <i class="fa fa-chevron-circle-down" aria-hidden="true"></i>
                                </a>
                                </h4>
                            </div>

                            <div id="collapse1" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    <p>Serviced By:</p>
                                    <p id = "{{ stop_1 }}p"></p>
                                </div>
                            </div>

                        </div>
                    </div>


                    <div id = "{{ stop_2 }}" class="panel-border">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                                    {{ stop_2 }} - {{ name_2 }}
                                    <i class="fa fa-chevron-circle-down" aria-hidden="true"></i>
                                </a>
                                </h4>
                            </div>

                            <div id="collapse2" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>Serviced By:</p>
                                    <p id = "{{ stop_2 }}p"></p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id = "{{ stop_3 }}" class="panel-border">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                                    {{ stop_3 }} - {{ name_3 }}
                                    <i class="fa fa-chevron-circle-down" aria-hidden="true"></i>
                                </a>
                                </h4>
                            </div>

                            <div id="collapse3" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>Serviced By:</p>
                                    <p id = "{{ stop_3 }}p"></p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id = "{{ stop_4 }}" class="panel-border">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">
                                    {{ stop_4 }} - {{ name_4 }}
                                    <i class="fa fa-chevron-circle-down" aria-hidden="true"></i>
                                </a>
                                </h4>
                            </div>

                            <div id="collapse4" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>Serviced By:</p>
                                    <p id = "{{ stop_4 }}p"></p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id = "{{ stop_5 }}" class="panel-border">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">
                                    {{ stop_5 }} - {{ name_5 }}
                                    <i class="fa fa-chevron-circle-down" aria-hidden="true"></i>
                                </a>
                                </h4>
                            </div>

                            <div id="collapse5" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>Serviced By:</p>
                                    <p id = "{{ stop_5 }}p"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Weather Info ------------------------>
                <div class="well well-sm" id="weather_div">
                    <h5><strong>Weather Forecast: {{ day }}</strong></h5>
                    <div class="row">
                        <div class="col-md-7"><img id="icon" src="{{ url }}" ></div>
                        <div class="col-md-5 temp">{{ temp }}&deg;C</div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">Windspeed: <b>{{ wspd }}km/hr</b></div>
                        <div class="col-md-4">Condition: <b>{{ condition }}</b></div>
                        <div class="col-md-4">Chance of Rain: <b>{{ pop }}%</b></div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- Hidden Divs -------------------------------------->
    <button onclick="toggleWalkingLayer('find')" value="0" id="walkingLayer" hidden>Walking route</button>
    <!--<div id="walking_duration" hidden></div>-->
    <!--<div id="walking_distance" hidden></div>-->

    <footer class="footer text-center">&copy; Team Git Rekt 2017</footer>
</body>

{% endblock %}