{% extends 'index/base.html' %}

{% block title %}
    <title>Dublin Bus</title>
{% endblock %}

{% block main %}
    <h1>it worked</h1>
    <ul>
        <form action = "{% url 'index:student' event.title %}" method = "post">
            {% csrf_token %}
            {% for event in all_events %}
        <li><a href="{% url 'index:detail' event.title %}">{{ event.title }}</a></li>
        {% endfor %}
            <input type = "radio" id = "student" name = "student" value = "student"/>
                <label for =  "student">
                    Student
                </label>
                <br/>
            <input type="submit" value="Student">
        </form>
    </ul>
{% endblock %}
